<p id="notice"><%= notice %></p>

<p>
  <b>Membership type:</b>
  <%= @membership.membership_type %>
</p>

<p>
  <b>Charge:</b>
  <%= @membership.charge %>
</p>

<% if current_user && current_user.admin %>
	<%= link_to 'Edit', edit_membership_path(@membership)  %> |
	<%= button_to "Delete Me", @membership, method: :delete, data: { confirm: 'Are you sure?' } %> |
<% end%>
<%= link_to 'Back', memberships_path %>
