<article class="module width_2_quarter">
  <div style="margin:20px;">
    <p id="notice"><%= notice %></p>

    <p>
      <b>First name:</b>
      <%= @member.first_name %>
    </p>

    <p>
      <b>Last name:</b>
      <%= @member.last_name %>
    </p>

    <p>
      <b>Email:</b>
      <%= @member.email %>
    </p>

    <p>
      <b>Membership Type:</b>
      <%= @member.membership.membership_type rescue '' %>
    </p>

    <p>
      <b>Start date:</b>
      <%= @member.start_date %>
    </p>

    <p>
      <b>End date:</b>
      <%= @member.end_date %>
    </p>

    <p><strong>Activities</strong>
      <table>
        <thead>
          <tr>
            <th>Activity</th>
            <th>Charge</th>
            <th>Freq Flag</th>
          </tr>
        </thead>
        <tbody>
          <% @member.charges.each do |charge| %>
            <tr><td><%= charge.activity.activity_name rescue "" %>
              <% if charge.freq_flag == "DEFAULT_FLAT_2000" %>
              <td><%= "FLAT_2000" %>
              <% elsif charge.freq_flag == "DEFAULT_FLAT_200" %>
              <% else %>
              <td><%= charge.charge rescue "" %>
              <% end %>
              <td><%= charge.freq_flag rescue "" %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </p>
    <p>Total Charge: <strong><%= @member.total_charge rescue '' %></strong></p>

    <%= link_to 'Back', admin_members_path %>
  </div>
</article>