<center>
<!-- Box Start-->
<div id="box_bg">
  <div id="login-content">
    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
      <h1>Sign Up</h1>
      
      <%= devise_error_messages! %>
     <div id="login">
        <%= f.email_field :email, :autofocus => true, class: "login user", required: true, placeholder: "Email" %>
        <%= f.text_field :username, class: "login password", required: true, placeholder: "Username" %>
        <%= f.text_field :first_name, class: "login password", required: true, placeholder: "First Name" %>
        <%= f.text_field :last_name, class: "login password", required: true, placeholder: "Last Name" %>
        <%= f.password_field :password, class: "login password", required: true, placeholder: "Password" %>
        <%= f.password_field :password_confirmation, class: "login password", required: true, placeholder: "Password Confirmation" %>
      </div>
      <%= f.submit "Sign In", class: "button_submit" %>
      <!-- Checkbox -->
      <div class="checkbox">
      <li>
      <fieldset>
      <!--[if !IE | (gte IE 8)]--><legend id="title2" class="desc"></legend><!--[endif]-->
      <!--[if lt IE 8]><label id="title2" class="desc"></label><![endif]-->
      <div>
        <span>
        </span>
      </div>
      </fieldset>
      </li>
      </div>
    <% end %>
  </div>
</div>
</center>

