<%= form_for(@activity_image) do |f| %>
  <% if @activity_image.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@activity_image.errors.count, "error") %> prohibited this activity_image from being saved:</h2>

      <ul>
      <% @activity_image.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :activity_id %><br />
    <%= f.number_field :activity_id %>
  </div>
  <div class="field">
    <%= f.label :image_1 %><br />
    <%= f.file_field :image_1 %>
  </div>
  <div class="field">
    <%= f.label :image_2 %><br />
    <%= f.file_field :image_2 %>
  </div>
  <div class="field">
    <%= f.label :image_3 %><br />
    <%= f.file_field :image_3 %>
  </div>
  <div class="field">
    <%= f.label :image_4 %><br />
    <%= f.file_field :image_4 %>
  </div>
  <div class="field">
    <%= f.label :image_5 %><br />
    <%= f.file_field :image_5 %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
