<div class="navbar-wrapper">
  <div class="container">
    <div class="navbar navbar-inverse navbar-static-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <%= link_to image_tag('playgym_logo.png' ,:size => '118x50', style: "padding-right: 5px;") , :root%>
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class='<%= "active" if controller.controller_name == "memberships" %>'><%= link_to "Memberships", memberships_path, class: "color1" %></li>
            <li class='<%= "active" if controller.controller_name == "activities" && controller.action_name == "index" %>'><%= link_to "Programs & Clases", activities_path, class: "color2" %></li>
            <li class='<%= "active" if controller.action_name == "events_list" %>'><%= link_to "Events & Parties", events_list_activities_path, class: "color3" %></li>
            <!--<li class='<%#= "active" if controller.action_name == "coming_soon" %>'><%#= link_to "Social", "#", class: "color4" %></li>
            <li class='<%#= "active" if controller.action_name == "coming_soon1" %>'><%#= link_to "Our Partners", "#", class: "color5" %></li>-->
            <li class='<%= "active" if controller.action_name == "coming_soon2" %>'><%= link_to "About Us", coming_soon_home_index_path, class: "color6" %></li>
            <li>
              <%#= link_to "Comment/Suggestion", "#", "data-target" => "#myModal", class: "color7" %>
              <div class="color7" data-toggle="modal" data-target="#myModal">Comment/Suggestions
              </div>
            </li>
            <%= render "/shared/social_sdks" %>
          </ul>     
        </div>
        <marquee> <strong>10% Discount Offer</strong> on Quarterly Membership &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; | &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <strong>20% Discount Offer</strong> on Half Yearly Membership &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; | &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <strong>30% Discount Offer</strong> on Yearly Membership </marquee>
      </div>
    </div>    
  </div>
</div>

<%= render "/shared/comment_suggestion" %>