<% content_for :carousel do %>
  <%= render "/shared/carousel" %>
<% end %>
<!-- Three columns of text below the carousel -->
  <div class="row">
    <div class="col-lg-4">
      <img class="img-circle" data-src="/assets/g1.jpg" src="/assets/g1.jpg" style="border: solid 3px #F0EDE5; width: 280px; height: 280px;">
      <h2>Programs</h2>
      <p>Children and Adults can take advantage of a variety of activities including Play equipment with rock climbing (wall), trampolines, boxing, soft play area (for toddlers), hopping balls, hula hoops, ribbon dance, climbing ropes, climbing nets and zipline.</p>
      <p><a class="btn btn-default" href="/activities" role="button">View details »</a></p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <img class="img-circle" data-src="/assets/g2.jpg" src="/assets/g2.jpg" style="border: solid 3px #F0EDE5; width: 280px; height: 280px;">
      <h2>Events</h2>
      <p>It is an awesome space to celebrate your special occasions including Birthdays Bashes, General Get-togethers with other families, Organize Corporate Events and much more!.</p>
      <p><a class="btn btn-default" href="/activities/events_list" role="button">View details »</a></p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <img class="img-circle" data-src="/assets/g3.jpg" src="/assets/g3.jpg" style="border: solid 3px #F0EDE5; width: 280px; height: 280px;">
      <h2>Summer Activities</h2>
      <p>Come and supprise yourself .......</p>
      <p><a class="btn btn-default" href="/activities" role="button">View details »</a></p>
    </div><!-- /.col-lg-4 -->
  </div><!-- /.row -->


  <!-- START THE FEATURETTES -->

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
        <h2 class="featurette-heading">About Playgym <span class="text-muted"></span></h2>
        <p class="lead">
            PlayGym is a creative, joyful and energetic play space for children of all ages. Connect with your inner child; let the imagination run wild through creative play! PlayGym has a variety of activities: Play equipment with rock climbing (wall), trampolines, boxing, soft play area (for toddlers), indoor tennis,& football, hopping balls, hula hoops, ribbon dance, climbing ropes, climbing nets & much more!
            <address>
                <strong>Address:</strong> 7M-215, 7TH Main road (80 feet Road), 
                HRBR Layout 2nd block, Kalyan nagar,
                Banaswadi, Bangalore – 560043. 
                <strong>Phone:</strong> 97318-37282
            </address>
        </p>
    </div>
    <div class="col-md-5">
      <%= render "/shared/map" %>
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <%= render "/shared/google_calendar" %>
    </div>
    <div class="col-md-5">
      <p class="lead">Oh yeah , we have a weekly calendar to help you plan your activities accordingly</span></p>
    </div>
  </div>

  <hr class="featurette-heading">
  <!-- What they say! <span class="text-muted"></span></h2> -->
    <div class="row featurette">
    <% Comment.where("commentable_id IS NULL").limit(3).each_with_index do |comment, index| %>
        <div id="carousel-example-generic" class="carousel1 carousel slide" data-ride="carousel">
          <!-- Indicators -->
          <div class="carousel-inner">
            <div class="Item item active">
              <img src=<%="/assets/c#{index+1}.jpg"%> alt="<%= comment.content %>">
              <div class="carousel-caption">
                <i class="fa fa-quote-left"></i> <%= comment.content %>
                <i class="fa fa-quote-right"></i>
              </div>
              <% if !comment.email.nil? %>
              - By <%= comment.email rescue "" %>
              <% end %>
            </div>
          </div>
        </div>
    <% end %>
    </div>
  <hr class="featurette-divider">
  <!-- /END THE FEATURETTES -->