<%= form_for(@member, html: {onsubmit: 'return checkForm($("#exampleInputEmail4"), $("#exampleInputEmail5"))'}) do |f| %>
  <% if @member.errors.any? %>
    <div id="error_explanation" class="form-group">
      <h2><%= pluralize(@member.errors.count, "error") %> prohibited this member from being saved:</h2>
      <ul>
      <% @member.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <%= f.label "First Name", for: "exampleInputEmail1" %>
    <%= f.text_field :first_name, class: "form-control", id: "exampleInputEmail1", placeholder: "Enter First Name", autofocus: true %>
  </div>
  <div class="form-group">
    <%= f.label "Last Name", for: "exampleInputEmail2" %>
    <%= f.text_field :last_name, class: "form-control", id: "exampleInputEmail2", placeholder: "Enter Last Name" %>
  </div>
  <div class="form-group">
    <%= f.label "Email", for: "exampleInputEmail3" %>
    <%= f.email_field :email, class: "form-control", id: "exampleInputEmail3", placeholder: "Enter Email", required: true %>
  </div>
  <div class="form-group">
    <%= f.label "Phone1", for: "exampleInputPhone1" %>
    <%= f.text_field :phone1, class: "form-control", id: "exampleInputPhone", placeholder: "Enter Phone1" %>
  </div>
   <div class="form-group">
    <%= f.label "Phone2", for: "exampleInputPhone2" %>
    <%= f.text_field :phone2, class: "form-control", id: "exampleInputPhone", placeholder: "Enter Phone2" %>
  </div>
  <div class="form-group">
    <%= f.label "Date of Birth", for: "exampleInputDOB" %>
    <%= f.date_field :dob, class: "form-control", id: "exampleInputDOB", placeholder: "Enter DOB" %>
  </div>
  <div class="form-group">
    <%= f.label "Membership Type" %>
    <% for membership in Membership.all %>
      <%= f.radio_button('membership_type',membership.id, class: "membership_type", required: true) %><%= membership.membership_type %>
    <%end%>
  </div>
  <div class="form-group">
    <%= f.label "Start Date", for: "exampleInputEmail4" %>
    <%= f.date_field :start_date, class: "form-control", id: "exampleInputEmail4", placeholder: "Enter Start Date", required: true, title: "Select membership type first", disabled: true %>
  </div>
  <div class="form-group">
    <%= f.label "End Date", for: "exampleInputEmail5" %>
    <%= f.date_field :end_date, class: "form-control", id: "exampleInputEmail5", placeholder: "Enter End Date", required: true, title: "Select start date first", disabled: true %>
  </div>
    <span id="charges_table_1" style="display:none;">
        <div class="form-group">
            <center><p class="bg-info" style="padding:10px;"><span style='float: left'><label><input type="checkbox" name="add_on_200[]" value="football"> Charge: 200 (per hour per week) </label></span>Following activities you will get:</p></center>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <td>Boxing</td>
                        <td>Climbing Wall</td>
                        <td>Hopping Ball</td>
                        <td>Hula Hoops</td>
                        <td>Swings & Slides</td>
                        <td>Tug of War</td>
                    </tr>
                    <tr>
                        <td>Ribbin Dance</td>
                        <td>Rope Bridge</td>
                        <td>Slackline</td>
                        <td>Ziplining</td>
                        <td>Trampolin Jump</td>
                        <td></td>
                    </tr>
                </tr></thead>
            </table>
        </div>
        <div class="form-group">
            <p class="bg-info" style="padding:10px;"><b>Choose Activities:</b></p>
            <table class="table table-striped">
                <thead>
                    <tr><th>Activity</th><th>Charge (per hour per week)</th></tr>
                </thead>
                <tbody>
                    <tr><td><div class="checkbox"><label>Football</label></div></td><td><div class="checkbox"><label><input type="checkbox" name="add_on_200[]" value="football"> 200</label></div></td></tr>
                    <tr><td><div class="checkbox"><label>Tennis</label></div></td><td><div class="checkbox"><label><input type="checkbox" name="add_on_200[]" value="tennis"> 200</label></div></td></tr>
                    <tr><td><div class="checkbox"><label>Yoga</label></div></td><td><div class="checkbox"><label><input type="checkbox" name="add_on_200[]" value="yoga"> 200</label></div></td></tr>
                    <tr><td><div class="checkbox"><label>Karate</label></div></td><td><div class="checkbox"><label><input type="checkbox" name="add_on_200[]" value="karate"> 200</label></div></td></tr>
                    <tr><td><div class="checkbox"><label>Gymnastics</label></div></td><td><div class="checkbox"><label><input type="checkbox" name="add_on_200[]" value="gymnastics"> 200</label></div></td></tr>
                    <tr><td><div class="checkbox"><label>Art & Craft</label></div></td><td><div class="checkbox"><label><input type="checkbox" name="add_on_200[]" value="art_craft"> 200</label></div></td></tr>
                    <tr><td><div class="checkbox"><label>Water Play</label></div></td><td><div class="checkbox"><label><input type="checkbox" name="add_on_200[]" value="water_play"> 200</label></div></td></tr>
                    <tr><td><div class="checkbox"><label>Archery</label></div></td><td><div class="checkbox"><label><input type="checkbox" name="add_on_200[]" value="archery"> 200</label></div></td></tr>
                </tbody>
            </table>
        </div>
        <div class="form-group">
            <p class="bg-success" style="padding:10px;"><b>Total: 500</b></p>
        </div>
    </span>
    <span id="charges_table_2" style="display:none;">
        <div class="form-group">
            <center><p class="bg-info" style="padding:10px;"><label style='float: left'><input type='checkbox' name='addon_membership_2000' value='membership_2000'> Charge: 2000 </label>Following activities you will get:</p></center>
            <table class="table table-striped">
                <thead>
                    <% @default_flat_200.each_with_index do |a, index| %>
                        <% if index == 0 || index == 5 %>
                            <%= '<tr>'.html_safe %>
                        <% end %>
                        <%= "<td>#{a.activity_name}</td>".html_safe %>
                        <%= "</tr>".html_safe if index == 4 || index == 9 %>
                    <% end %>
                    <%= "<td></td><td></td><td></td><td></td></tr>".html_safe %>
                </tr></thead>
            </table>
        </div>
        <div class="form-group">
            <center><p class="bg-info" style="padding:10px;">Add on activities</p></center>
            <table class="table table-striped">
                <thead>
                    <tr><th>Activity</th>
                        <th>3 Visits Per Week</th>
                        <th>4 Visits Per Week</th>
                        <th>5 Visits Per Week</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Football
                        <td><input type="radio" name="football" value="500">500</td>
                        <td><input type="radio" name="football" value="1000">1000</td>
                        <td><input type="radio" name="football" value="1500">1500</td>
                        <td id="football">0</td><td><span style='cursor:default' class='deselect_football' onclick="$('input[type=radio][name=football]:checked').attr('checked', false);$('#football').html('0');"><i class="fa fa-times-circle-o"></i></span></td>
                    </tr>
                    <tr>
                        <td>Tennis
                        <td><input type="radio" name="tennis" value="500">500</td>
                        <td><input type="radio" name="tennis" value="1000">1000</td>
                        <td><input type="radio" name="tennis" value="1500">1500</td>
                        <td id="tennis">0</td><td><span style='cursor:default' class='deselect_tennis' onclick="$('input[type=radio][name=tennis]:checked').attr('checked', false);$('#tennis').html('0');"><i class="fa fa-times-circle-o"></i></span></td>
                    </tr>
                    <tr>
                        <td>Archery
                        <td><input type="radio" name="archery" value="500">500</td>
                        <td><input type="radio" name="archery" value="1000">1000</td>
                        <td><input type="radio" name="archery" value="1500">1500</td>
                        <td id="archery">0</td><td><span style='cursor:default' class='deselect_archery' onclick="$('input[type=radio][name=archery]:checked').attr('checked', false);$('#archery').html('0');"><i class="fa fa-times-circle-o"></i></span></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="form-group">
            <center><p class="bg-info" style="padding:10px;">Summer Activities</p></center>
            <table class="table table-striped">
                <thead>
                    <tr><th>Add on Activities</th>
                        <th>1 Visits Per Week</th>
                        <th>2 Visits Per Week</th>
                        <th>3 Visits Per Week</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Yoga
                        <td><input type="radio" name="yoga" value="400">400</td>
                        <td><input type="radio" name="yoga" value="800">800</td>
                        <td><input type="radio" name="yoga" value="1200">1200</td>
                        <td id="yoga">0</td><td><span style='cursor:default' class='deselect_archery' onclick="$('input[type=radio][name=yoga]:checked').attr('checked', false);$('#yoga').html('0');"><i class="fa fa-times-circle-o"></i></span></td>
                    </tr>
                    <tr>
                        <td>Karate
                        <td><input type="radio" name="karate" value="400">400</td>
                        <td><input type="radio" name="karate" value="800">800</td>
                        <td><input type="radio" name="karate" value="1200">1200</td>
                        <td id="karate">0</td><td><span style='cursor:default' class='deselect_archery' onclick="$('input[type=radio][name=karate]:checked').attr('checked', false);$('#karate').html('0');"><i class="fa fa-times-circle-o"></i></span></td>
                    </tr>
                    <tr>
                        <td>Gymnastics
                        <td><input type="radio" name="gymnastics" value="750">750</td>
                        <td><input type="radio" name="gymnastics" value="1500">1500</td>
                        <td><input type="radio" name="gymnastics" value="2000">2000</td>
                        <td id="gymnatics">0</td><td><span style='cursor:default' class='deselect_archery' onclick="$('input[type=radio][name=gymnastics]:checked').attr('checked', false);$('#gymnatics').html('0');"><i class="fa fa-times-circle-o"></i></span></td>
                    </tr>
                    <tr>
                        <td>Art & Craft
                        <td><input type="radio" name="art_craft" value="500">500</td>
                        <td><input type="radio" name="art_craft" value="1000">1000</td>
                        <td><input type="radio" name="art_craft" value="1500">1500</td>
                        <td id="art_craft">0</td><td><span style='cursor:default' class='deselect_archery' onclick="$('input[type=radio][name=art_craft]:checked').attr('checked', false);$('#art_craft').html('0');"><i class="fa fa-times-circle-o"></i></span></td>
                    </tr>
                    <tr>
                        <td>Water Play
                        <td><input type="radio" name="water_play" value="500">500</td>
                        <td><input type="radio" name="water_play" value="1000">1000</td>
                        <td><input type="radio" name="water_play" value="1500">1500</td>
                        <td id="water_play">0</td><td><span style='cursor:default' class='deselect_archery' onclick="$('input[type=radio][name=water_play]:checked').attr('checked', false);$('#water_play').html('0');"><i class="fa fa-times-circle-o"></i></span></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="form-group">
            <p class="bg-success" style="padding:10px;"><b>Total: 500</b></p>
        </div>
    </span>
  <div class="form-group">
    <%= f.submit "Submit", class: "btn btn-primary" %>
  </div>
<% end %>
